---
import Navigation from '../components/Navigation.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle="">
    <p>THIS IS THE WEBSITE of <b>Clint Wang</b>. </p>
</BaseLayout>
