---
import Navigation from "@components/Navigation.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import ListItem from "@components/ListItem.astro";
const allPosts = await Astro.glob("./posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const postsByTag = Object.fromEntries(
    tags.map((tag) => [
        tag,
        allPosts.filter((post) => post.frontmatter.tags.includes(tag)),
    ]),
);
const pageTitle = "Home Page";
---

<BaseLayout pageTitle="">
    <article class="pb-8">
        <p>
            THIS IS THE WEBSITE of <b>Clint Wang</b>. I write about my journey
            in studying AI, mathematics, and art.
        </p>
    </article>
    <div class="grid grid-cols-2">
        {
            tags.map((tag) => (
                <div class="p-4">
                    <h2 class="font-title text-2xl uppercase font-bold">{tag}</h2>
                    <hr class="pb-4"></hr>
                    {postsByTag[tag].map((post) => (
                        <ListItem
                            title={post.frontmatter.title}
                            url={post.url}
                        />
                    ))}
                </div>
            ))
        }
    </div>
</BaseLayout>
<style>
    article :global(h1) {
        @apply text-3xl font-bold pb-4 uppercase;
    }
    article :global(p) {
        @apply pl-8 hyphens-auto max-w-4xl text-xl leading-relaxed;
    }
    article :global(a) {
        @apply underline;
    }
</style>
