---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../components/style.css";
import ListItem from "../components/ListItem.astro";

const socials = [
    {
        platform: "github",
        user: "txst54",
        displayText: "Github",
    },
];
---

<BaseLayout pageTitle="A List of Relevant Links">
    <article>
    <h1>Socials</h1>
    <ul class="pl-12">
        {
            socials.map((site) => (
                <ListItem url={"https://" + site.platform + "/" + site.user} title={site.displayText}>
                </ListItem>
            ))
        }
    </ul>
    </article>
</BaseLayout>
