---
import Navigation from "./Navigation.astro";
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav class="py-2 flex justify-between">
        <div class="w-10"></div>
        <Navigation />
        <ThemeIcon />
    </nav>
</header>
