---
import katex from 'katex';
import InlineLatex from "./InlineLatex.astro";
const { formula = '' } = Astro.props;
// From https://danidiaztech.com/create-astro-latex-component/
---

<div class="text-center">
    <InlineLatex formula={formula} />
</div>

<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
        integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
        crossorigin="anonymous"
/>