---
import '@fontsource/monoton';
const style = "p-6 px-28 text-2xl border-b"
---
<div class="flex">
    <a href="/" class="font-logo text-8xl px-8">C</a>
    <a href="/posts/site" class={style}>site</a>
    <a href="/links" class={style}>links</a>
    <a href="/posts" class={style}>posts</a>
    <div class="px-8"/>
</div>