---
import '@fontsource/monoton';
const style = "p-6 px-28 text-lg font-bold"
---
<div class="flex">
    <a href="/" class="font-logo text-8xl px-8">C</a>
    <a href="/posts/site" class={style}>SITE</a>
    <a href="/links" class={style}>LINKS</a>
    <a href="/posts" class={style}>POSTS</a>
    <div class="px-8"/>
</div>