---
import '@fontsource/monoton';
const style = "p-6 px-12 text-lg font-bold"
---
<div class="flex">
    <a href="/" class="font-logo text-8xl px-2">C</a>
    <a href="/links" class={style}>SITE</a>
    <a href="/links" class={style}>LINKS</a>
    <a href="/posts" class={style}>POSTS</a>
</div>