---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p class="text-lg flex justify-center italic pb-8">{frontmatter.pubDate.slice(0, 10)}</p>
    <div class="tags">
        {
            frontmatter.tags.map((tag: String) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
    <article>
        <slot />
    </article>
</BaseLayout>

<style>
    article :global(h1) {
        @apply text-3xl font-bold pb-4 uppercase
    }
    article :global(p) {
        @apply pl-8 hyphens-auto max-w-4xl text-xl leading-relaxed indent-12
    }
    article :global(a) {
        @apply underline
    }
</style>