---
import BaseLayout from "./BaseLayout.astro";
import "../components/style.css";
import A from "../components/aRoot.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p class="text-lg flex justify-center italic pb-4">{frontmatter.description}</p>

    <div class="tags flex justify-center pb-4">
        <p class="italic pb-4 px-2">{frontmatter.pubDate.slice(0, 10)}</p>
        <p>*</p>
        {
            frontmatter.tags.map((tag: String) => (
                <p class="italic underline px-2">
                    <A href={`/tags/${tag}`}>{tag}</A>
                </p>
                <p>*</p>
            ))
        }
    </div>
    <article>
        <slot />
    </article>
</BaseLayout>
