---
import BaseLayout from "./BaseLayout.astro";
import "../components/style.css";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p class="text-lg flex justify-center italic pb-8">{frontmatter.pubDate.slice(0, 10)}</p>
    <div class="tags">
        {
            frontmatter.tags.map((tag: String) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
    <article>
        <slot />
    </article>
</BaseLayout>
